nav{
    height: 10%;
    font-size: 20px;
    text-align: center;
}

main{
    height:auto;
    padding: 3% 7%;
    background-image: url("/home/bobby/code/e_shop/assets/Images/mazel-tov.png");
    background-attachment: fixed;
    background-size: cover;
}

footer{
    height:auto;
    padding: 3% 7%;
    text-align: center;
    background-color: burlywood;
}

h1{
    text-align: center;
    margin: 23%;
    padding: 3%;
    background-color: lightblue;
    border: 3px solid whitesmoke;
}

h2{
    text-align: center;
    margin: 3% 18% 3% 18%;
    padding: 2%;
    border: 1px solid black;
}

h3{
    text-align: center;
    margin: 3% 20% 3% 20%;
    padding: 2%;
    border: 1px solid black;
}

#sec1{
    background-color: lightblue;
    border: 5px solid whitesmoke;
    text-align: center;
    padding: 5%;
    margin-bottom: 20%;
}

#sec2{
    background-color: lightblue;
    border: 5px solid whitesmoke;
    padding: 3% 10%;
}

.carousel-item{
    padding: 0% 0% 0% 33%;
}

.col-4{
    text-align: center;
    background-color: lightblue;
    border: 5px solid whitesmoke;
    padding: 5%;
}

.col-4>p{
    margin-top: 5%;
}

.carte{
    text-align: center
}

#formulaire{
    background-color: lightblue;
    margin: auto;
    width: 400px;
    padding: 5%;
    border: 1px solid #CCC;
}

label{
    text-align: left;
}

label>input{
    margin: auto;
}

textarea{
    vertical-align: top;
}

.footNav{
    background-image: url("/home/bobby/code/e_shop/assets/Images/logo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}
